.home {
  max-width: 1500px;
  margin-right: auto;
  display: flex;
  margin-left: auto;
  flex-direction: column;

  .steps-section{
    margin: auto;

    .text-info-wrapper {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  h1 {
    align-self: center;
    margin: 3rem 0 3rem 0;
  }

  h2 {
    grid-column: 1/-1;
  }

  .button {
    align-self: center;
    margin-top: 1rem;
  }

  svg {
    justify-self: center;
  }

}
