body {
  margin: 0;
  font-family: $body_font;
}

h1,
h2,
h3 {
  font-family: $headline_font;
}

.upload-project {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  margin: 0.5rem;
  background-color: $dark_blue_background;
  color: $white;
}
fieldset .input-type {
  margin-bottom: 1rem;
}
input {
  border-radius: 5px;
  height: 1.5rem;
}

.input-type * {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  bottom: 1rem;
}

a {
  color: $white;
  text-decoration: none;
  font-size: 22px;
}

.body {
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 22% 77%;
  height: 100vh;
}

#root {
  background-color: $dark_blue_background;
  color: $white;
  min-height: 100vh;
  position: relative;
}