body {
  margin: 0;
}
.body {
  margin: 0;
  font-family: $body_font;
  min-height: 100vh;
  z-index: 10;
}
h1,
h2,
h3 {
  font-family: $headline_font;
}

.upload-project {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  margin: 0.5rem;
  background-color: $dark_blue_background;
  color: $white;
}

fieldset .input-type {
  margin-bottom: 1rem;
}

input {
  border-radius: 5px;
  height: 1.5rem;
}

.input-type * {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  bottom: 1rem;
}

a {
  color: $white;
  text-decoration: none;
  font-size: 22px;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 80%;
}

#root {
  background-color: $dark_blue_background;
  color: $white;
  min-height: 96%;
  position: relative;
  display: block;
  overflow: auto;
}

#root > div.site-header-main > div.site-header-top > a > svg > g > path:nth-child(1),
#root > div.site-header-main > div.site-header-top > a > svg > g > path:nth-child(4),
#root > div.site-footer-main > div.site-footer-logo > svg > g > path:nth-child(1),
#root > div.site-footer-main > div.site-footer-logo > svg > g > path:nth-child(4) {
  fill: #53E0DC;
}

@media screen and (max-width: 600px) {
  .body {
    padding: 0.5rem;
  }
  .desktop-menu {
    display: none;
  }

}

@media screen and (min-width: 600px) {
 
  .grid-container 
  {
    display: grid;
    gap: 1rem;
  }
}