.data-visualization {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $blue_card_background;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  margin-bottom: 2rem;
  color: $white;
  border-radius: 1rem;
}

.request-status-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 0 0 0 1rem;
}

.request-status-header h2 {
  grid-column: 1/3;
}

.request-status-header .button {
  grid-column: 5/-1;
}

.request-status-list-wrapper {
  color: $white;
}

.business-project-wrapper h2 {
  padding: 0.5rem 0 0 1rem;
  color: $white;
}

.recent-requests-title-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
