.business-project-preview {
  color: $white;
  margin: 3rem 0 3rem 0;

  .check-icon-wrapper {
    h3 {
      display: none;
    }
  }

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
  }

  .title-container {
    background-color: $blue_card_background;
    display: flex;
    padding: 1.5rem 2rem 1.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 30px 30px 0 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $white;
  }

  .title-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

  }

  .title-container div {
    display: flex;
    align-items: center;
  }

  .check-icon svg {
    width: 20px;
    height: 20px;
  }

  .check-icon svg path {
    fill: $primary_yellow;
  }

  .title-container h3 {
    font-weight: 700;
    font-size: 17.76px;
  }

  .body-container {
    background-color: $blue_card_background;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto;
    border-radius: 0 0 30px 30px;
    padding: 1rem 2rem 1rem 2rem;
    align-items: start;

    .categories {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;

      h3 {
        flex: 1 0 100%;
      }
    }

    .description,
    .members,
    .due-date,
    .categories,
    .location,
    .button-wrapper {
      grid-row: span 1;
      grid-column: 1/-1;
    }

    .members {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

  }

  .body-container h3 {
    font-size: 20px;
    margin-bottom: .5rem;
  }

  .body-container p {
    font-size: 17px;
  }

  .body-container div:nth-child(1) p {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .body-container div:nth-child(1) h3 {
    text-align: left;
  }

  .button {
    grid-column: 4/-1;
    margin-left: 0.5rem;
    align-items: end;
    justify-content: center;

    button{
      width: 126px;
    height: 44px;
    
    }
  }

  .Closed, .open{
    grid-column: 3/4;
  }

  .button .secondary {
    padding: 0;
    
  }

  .category {
    background-color: $quaternary_background_color;
    border-radius: 50px;
    width: 30%;
    // margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    text-align: center;
  }

  .button-wrapper {
    // display: flex;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    // align-items: end;
    // grid-row: 2/3;
    // grid-column: 3/5;
    // justify-content: end;
    // max-width: 90%;
    // justify-self: end;
    margin-right: .5rem;
  }
}

@media only screen and (min-width: 600px) {

  .business-project-preview {

    margin: 3rem 2rem;

    .check-icon-wrapper {
      h3 {
        display: block;
      }
    }

    .title-container {
      background-color: $darker_blue_card_background;
      padding: 1rem 2rem 1rem 2rem;
      border-bottom: none;
    }

    .body-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 80% 20%;


      .description,
      .members,
      .due-date,
      .categories,
      .location {
        grid-row: span 1;
        grid-column: span 1;
      }

      .category {
        width: 50%;
        padding: 0.2rem 1.5rem;
      }

      .members {
        display: block;
      }

      button{
        width: 197px;
      height: 44px;
      font-size: 18px;
      border-radius: 50px;
      }

    }

  }

}

@media only screen and (max-width: 600px) {
  .business-project-list{
    min-width: 90vw;
  }
}