@import "../core/colors";

button:hover{
  cursor: pointer;
}

.primary {
  background-color: $primary_yellow;
  border-radius: 10px;
  appearance: unset;
  border: 2px solid $primary_yellow;
  padding: 5px 24px;
  border: 3px solid $primary_yellow;
}

.primary:hover {
  color: white;
  background-color: rgba(0,0,0,0);
}

.primary:focus {
  background-color: $primary_lighter;
}

.secondary {
  background-color: $blue_card_background;
  border-radius: 10px;
  appearance: unset;
  border: 3px solid $secondary_blue_color;
  padding: 5px 24px;
  color: white;
}

.secondary:hover {
  color: black;
  background-color: $secondary_blue_color;
}

.secondary:focus {
  color: black;
  background-color: $secondary_green;
}

.tertiary {
  color: white;
  background-color: $blue_card_background;
  border: none;
  display: hidden;
}

a:hover {
  color: $primary_yellow;
}
