@import "../core/colors";

button:hover{
  cursor: pointer;
}

.primary {
  background-color: $primary_yellow;
  border-radius: 10px;
  appearance: unset;
  border: 2px solid $primary_yellow;
  padding: 5px 24px;
  border: 3px solid $primary_yellow;
}

.secondary {
  background-color: rgba(1,1,1,0);
  border-radius: 10px;
  appearance: unset;
  border: 3px solid $secondary_blue_color;
  padding: 5px 24px;
  color: white;
}

.tertiary {
  color: white;
  background-color: $blue_card_background;
  border: none;
  display: hidden;
}
