@import "../core/colors";

button:hover{
  cursor: pointer;
}

.primary {
  background-color: $primary_yellow;
  border-radius: 10px;
  appearance: unset;
  border: 2px solid $primary_yellow;
  padding: 5px 24px;
}

.secondary {
  background-color: $dark_blue_background;
  border-radius: 10px;
  appearance: unset;
  border: 3px solid $secondary_blue_color;
  padding: 5px 24px;
  color: white;
}
