@import "../core/colors";

.visualization-component {
    margin: 2rem 0;
    background-color: $blue_card_background;
    border-radius: 20px;

    g.recharts-cartesian-axis-tick text{
        fill:white;
    }
}

.new-project-component {

    .recharts-wrapper {
        display: flex;
        flex-flow: row wrap;
    }
}

.data-visualization {
    background-color: $dark_blue_background;
}