@import "../core/colors";

.site-footer-main {
    padding: 1rem 1rem 0 1rem;
    margin-top: 2rem;
    // position: fixed;
    // bottom: 0;
    // right: 0;left: 0;
    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}
.site-footer-main {
    background-color: $blue_card_background;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-footer-copyright{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .copyright{
            font-size: 2rem;
    }

    .site-footer-logo {
        display: flex;
        align-items: center;
        flex: 1 0 40%;
    }

    .site-footer-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 0 40%;
        gap: 1rem;

        ul{
            display: flex;
            justify-content: space-between;
            gap:2rem;
        }
    }
}
