@import "../core/colors";

#tie-in-logo {
    background-color: $white;
}

.site-header-main {
    position: relative;

    li {
        list-style-type: none;
        margin: 0 1rem;

        a {
            text-decoration: none;
            display: block;
        }
    }

    .top-menu {
        color: white;
        background-color: $darker_blue_card_background;
        opacity: 0.97;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        text-align: left;
        position: absolute;
        right: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: transform 0.5s ease-in-out;

        ul {
            width: 16rem;
            padding: 0;
            margin: 0;

            p {
                padding: 0;
                margin: 0;
            }

            li {
                height: 3.25rem;
                padding-left: 2rem;
                display: flex;
                align-items: center;
                text-align: left;
            }

            li:not(li:last-child) {
                border-bottom: 1px solid $white;
            }
        }
    }

    .icon:hover {
        cursor: pointer;
    }

    .show {
        display: flex;
        transform: translateY(0%);
        z-index: 1;
    }

    .mobil-login {
        display: none;
    }

    .site-header-menu ul>li>a {
        font-family: $headline_font;
        font-weight: bold;
        font-size: 20px;
    }

    .mobile-side-menu {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .home-menu,
        .mobile-side-menu {
            display: flex;
            position: absolute;
            left: 0;
            transform: translateX(-100%);
            z-index: -1;
            transition: transform 0.5s ease-in-out;
            background-color: $darker_blue_card_background;
            width: 100%;
            height: 100%;
        }

        .home-menu {
            flex-direction: column;
        }

        .show-menu,
        .show-home-menu {
            transform: translateX(0%);
            z-index: 100;
            opacity: 1;
            position: fixed;
            top: 54px;
            left: 0;
            height: 100vh;
            justify-content: center;
        }

        .site-header-top .site-header-menu ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .site-header-top .site-header-menu li {
            border-bottom: 1px solid white;
        }

        .site-header-top {
            margin-bottom: 1rem;
            position: fixed;
            left: 0;
            right: 0;
            z-index: 1;
        }

        .show-menu li {
            display: grid;
            justify-content: center;
        }

        .home-header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .top-menu.show {
            top: 3rem;
        }
    }

}

.site-header-top {
    background-color: $darker_blue_card_background;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;



    .hamburger-menu {
        display: none;
    }

    .mobil-login {
        display: none;
    }

    .site-logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex: 1 0 25%;
    }

    .site-header-cta-menu {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 30%;
        gap: 1rem;

        .profile-icon {
            display: block;
        }
    }

    .site-header-menu {
        flex: 1 0 40%;
        align-self: center;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
        }

        .mobile-login {
            display: none;

            @media screen and (max-width: 600px) {
                display: block;
            }
        }

    }

    .site-header-buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        // flex: 1 0 25%;
        gap: 1rem;
    }

    li p,
    h2 {
        color: $white;
        padding-left: 5px;
    }

    .primary {
        width: 140px;
        font-weight: bold;
        margin-right: 1rem;
    }

    .home-menu {
        flex: 1 0 50%;
    }

    @media screen and (max-width: 600px) {
        align-items: center;

        .button,
        a h2 {
            display: none;
        }

        // .mobile-home-menu {
        //     display: none;
        // }

        .hamburger-menu,
        .site-logo,
        .site-header-cta-menu {
            display: flex;
            flex-basis: 33%;
        }

        .site-logo {
            justify-content: center;
        }

        .site-logo h2 {
            display: none;
        }


    }
}