.highlightBusinessProject{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  color: $white;

.business-project-wrapper {
  background-color: $darker_blue_card_background;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}

.highlightBusinessProject {
  background-color: $blue_card_background;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.highlightBusinessProject h2{
  padding: 0 0 0 1rem;
}
}