.request-status-card-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: baseline;
  align-items: center;

  p, h2{
    font-size: 18px;
  }
}


.request-status-card-company:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid #FFFFFF;
}