.side-menu {
  height: 100%;
  color: white;
  background-color: $darker_blue_card_background;
  opacity: 0.9;
  text-align: left;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  padding: .1rem;
  margin-right: 1rem;

  ul {
    padding: 0;
    margin: 0;

    p {
      padding: 0;
      margin: 0;
    }

    li {
      height: 3.25rem;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      text-align: left;
      padding: .4rem .1rem;
      justify-content: center;
    }

    li:not(li:last-child) {
      border-bottom: 1px solid white;
    }
  }
}