.team-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  border-bottom: 1px solid $white;
  align-items: center;
  text-align: center;

  p:nth-of-type(1) {
    font-size: 1.3rem;
    border-bottom: 1px solid $white;
    width: fit-content;
    margin: auto;
  }

  .images {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .images p {
    margin-left: .7rem;
  }

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0.5rem -.3rem;

  }
}

.team-box:nth-last-of-type(1) {
  border-bottom: none;
}