
$blue_card_background:  #314A5B;
$dark_blue_background: #0B1A27;
$darker_blue_card_background:#253847;
$quaternary_background_color: rgba(83, 224, 220, .5);

$primary_yellow: #FCB51F;
$primary_lighter: #FDCE6A;
$secondary_blue_color: #53E0DC;
$secondary_green: #0B938E;

$error_red: #FC9896;
$warming_orange: #F15B40;

$disabled_background_grey: #747373;
$light_grey: #F8F8F8;
$white: #FFFFFF;