$primary_color: #FCB51F;
$primary_lighter: #FDCE6A;


$secondary_color: #0B938E;
$background_color: #0B1A27;
$secondary_background_color:  #314A5B;
$tertiary_background_color: #253847;
$quaternary_background_color: #53E0DC;