$primary_color: #FCB51F;
$primary_lighter: #FDCE6A;

$secondary_color: #53E0DC;
$background_color: #0B1A27;
$secondary_background_color:  #314A5B;

$dark_blue_background: #0B1A27;
$darker_blue_card_background:#253847;
