//Typography


//DESKTOP VIEW
@mixin bold_style {
  font-style: normal;
  font-weight: 700;
}

@mixin normal_style {
  font-style: normal;
  font-weight: 400;
}

@mixin desktop_h1_heading {
  @include bold_style;
  font-size: 41px;
  line-height: 49px;
}

@mixin desktop_h2_heading {
  @include bold_style;
  font-size: 41px;
  line-height: 49px;
}

@mixin desktop_h3_heading {
  @include bold_style;
  font-size: 28px;
  line-height: 35px;
}

@mixin desktop_body_text {
  @include normal_style;
  font-size: 23px;
  line-height: 28px;
}

@mixin desktop_subtitle {
  @include bold_style;
  font-size: 28px;
  line-height: 34px;
}

@mixin desktop_caption_bold {
  @include bold_style;
  font-size: 20px;
  line-height: 24px;
}

@mixin desktop_caption_normal {
  @include normal_style;
  font-size: 20px;
  line-height: 24px;
}

@mixin desktop_link_text {
  @include normal_style;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

@mixin desktop_button_text {
  @include bold_style;
  font-size: 18px;
  line-height: 21px;
} ;

//MOBILE VIEW
@mixin mobile_h1_heading {
  @include bold_style;
  font-size: 32px;
  line-height: 39px;
}

@mixin mobile_h2_heading {
  @include bold_style;
  font-size: 32px;
  line-height: 39px;
}

@mixin mobile_h3_heading {
  @include bold_style;
  font-size: 25px;
  line-height: 31px;
}

@mixin mobile_body_text {
  @include normal_style;
  font-size: 16px;
  line-height: 17px;
}

@mixin mobile_subtitle {
  @include bold_style;
  font-size: 28px;
  line-height: 34px;
}

@mixin mobile_caption_bold {
  @include bold_style;
  font-size: 18px;
  line-height: 22px;
}

@mixin mobile_caption_normal {
  @include normal_style;
  font-size: 18px;
  line-height: 22px;
}

@mixin mobile_link_text {
  @include normal_style;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

@mixin mobile_button_text {
  @include bold_style;
  font-size: 16px;
  line-height: 19px;
} ;
