.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #277188;
}
h2 {
  color: #2e6879;
}

.studentProject {
  text-align: start;
}

.highlightStudentProject {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  background-color: #c5c2c2;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.dashboard {
  background-color: #383737;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

h4 {
  color: #214d39;
}