body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.upload-project {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  margin: 0.5rem;
  background-color: #0B1A27;
  color: white;
}

input {
  border-radius: 5px;
  height: 1.5rem;
}

.input-type * {
  display: grid;
  grid-template-columns: repeat(1fr);
  text-align: center;
  bottom: 1rem;
}

button.primary {
  padding: 0.5rem 4rem 0.5rem 4rem;
  background-color: #FCB51F;
  border-radius: 20px;
}

.App {
  background-color: #253847;
}

a {
  color: white;
}
