body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.upload-project {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  margin: 0.5rem;
  background-color: #0B1A27;
  color: white;
}
fieldset .input-type {
  margin-bottom: 1rem;
}
input {
  border-radius: 5px;
  height: 1.5rem;
}

.input-type * {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.body {
  min-height: 100vh;
}

#root {
  background-color: #0B1A27;
  color: white;
  min-height: 100vh;
  position: relative;
}

@import "sass/abstracts/variables";
@import "sass/core/colors";
@import "sass/components/buttons";
@import "sass/components/highlightStudentProject";
@import "sass/pages/dashboard";
@import "sass/layout/forms";
@import "sass/components/highlightBusinessProject";
@import "sass/components/requestStatusCard";
@import "sass/pages/studentDashboard";
@import "sass/components/header";
@import "sass/components/footer";
@import "sass/components/studentProjectPreview";
@import "sass/components/businessProjectPreview";
@import "sass/pages/businessProjectRequest";
@import "sass/components/studentProjectDetails";

